@media(max-width:1346px){
    .navigation-links{
        width:750px;
    }
    .images img{
        width:140px;
        height:240px;
    }
    .images img:nth-child(2){
        width:200px;
        height:350px;
    }
    .sec2-title{
        width:80%;
    }
    .section3{
        top:1820px;
    }
    .sec3-title{
        width:80%;
    }
    #triangle-right{
        margin-top:55%;
    }
    .sec3-text-wrapper h3,
    .sec3-text-wrapper p{
        width:90%;
    }
    .section4{
        top:2750px;
    }
    .section5{
        top:3150px;
    }
    .section6{
        top:3800px;
    }
    .footer-form{
        top:4500px;
    }
}
@media(max-width:1205px){
    header{
        height:80px;
    }
    .navigation-links{
        display:none;
    }
    .burger-bar{
        display:block;
        color:white;
        cursor:pointer;
        font-size:24px;
        transition:1s;
        transform:translate(0, -20%);
    }
    .burger-bar:hover{
        color:rgba(255, 255, 255, 0.445);
    }
    .section3{
        top:1900px;
    }
    .section4{
        top:2820px;
    }
    .section5{
        top:3300px;
    }
    .section6{
        top:4000px;
    }
    .footer-form{
        top:4700px;
    }
    #triangle-right{
        margin-top:60%;
    }
    .sec4-box img{
        width:60px;
        height:60px;
        transform:translate(0, 30%);
    }
    .sec4-text h2{
        font-size:16px;
    }
    .personal-about{
        margin-left:80px;
    }
    .footer-form{
        margin-bottom:200px;
    }
}
@media(max-width:1115px){
    .background-div{
        min-height:1000px;
        height:max-content;
    }
    .background-img-div{
        min-height:900px;
        height:max-content;
    }
    .section1{
        height:900px;
    }
    .section2{
        top:1050px;
    }
    .sec2-title h1{
        width:100%;
    }
    .sec2-boxes-wrapper{
        flex-direction: column;
        align-items: center;
    }
    .sec2-box{
        width:60%;
        margin-top:30px;
    }
    .section3{
        top:2950px;
    }
    #triangle-right{
        display:none;
    }
    .sec3-img-wrapper{
        width:100%;
    }
    .sec3-img-wrapper img{
        width:100%;
    }
    .sec3-content-wrapper{
        margin-top:30px;
    }
    .section4{
        top:3600px;
    }
    .sec4-title h1{
        width:95%;
    }
    .section5{
        top:4050px;
    }
    .section6{
        top:4700px;
    }
    .sec6-head{
        flex-direction:column;
        align-items: center;
    }
    .sec6-title{
        width:100%;
        text-align: center;
    }
    .sec6-title h1{
        width:100%;
    }
    .r-more{
        margin-top:20px;
        font:500 16px poppins;
        width:200px;
        height:50px;
    }
    .footer-form{
        top:5350px;
        width:100%;
    }
    .bottop-space{
        display:none;
    }
}
@media(max-width:987px){
    .background-div{
        min-height:1100px;
        height:max-content;
    }
    .background-img-div{
        min-height:1000px;
        height:max-content;
    }
    .section1{
        height:1100px;
    }
    .sec1-container{
        flex-direction:column;
        align-items: center;
        justify-content: center;
    }
    .section1-child{
        width:90%;
    }
    .section2{
        top:1150px;
    }
    .section3{
        top:3150px;
    }
    .section4{
        top:3850px;
    }
    .sec4-boxes-wrapper{
        flex-direction:column;
        align-items: center;
        justify-content: space-around;
    }
    .sec4-box{
        width:85%;
        height:200px;
        justify-content: center;
        align-items: center;
        margin-top:30px;
    }
    .sec4-box img{
        transform:translate(0, 0);
        width:100px;
        height:100px;
        margin-right:50px;
    }
    .section5{
        top:5150px;
    }
    .sec5-title{
        width:95%;
    }
    .section6{
        top:5700px;
    }
    .footer-form{
        top:6400px;
    }
}
@media(max-width:876px){
    .section3{
        top:3250px;
    }
    .section4{
        top:4000px;
    }
    .section5{
        top:5300px;
    }
    .section6{
        top:5800px;
    }
    .footer-form{
        top:6550px;
    }
}
@media(max-width:792px){
    .section3{
        top:3450px;
    }
    .sec3-content-wrapper{
        flex-direction:column;
        align-items: center;
    }
    .sec3-img-wrapper{
        width:70%;
    }
    .section4{
        top:4800px;
    }
    .section5{
        top:6100px;
    }
    .section6{
        top:6550px;
    }
    .personal-info img{
        height:200px;
    }
    .stars img{
        height:50px;
    }
    .footer-form{
        top:7200px;
    }
}
@media(max-width:660px){
    .background-div{
        min-height:1020px;
        height:max-content;
        border-radius:0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .background-img-div{
        min-height:1000px;
        height:max-content;
        border-radius:0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .section1{
        height:1000px;
        border-radius:0;
    }
    .sec1-container{
        justify-content: space-around;
    }
    .section1-child h1,
    .sec2-title h1,
    .sec3-title h1,
    .sec4-title h1,
    .sec5-title h1,
    .sec6-title h1,
    .footer-text h2{
        font: 500 28px Roboto;
        margin-top:50px;
    }
    .section1-child p{
        font: 16px/21px Roboto;
    }
    .ecplore-m{
        font: 500 16px Roboto;
    }
    .sec1-btns{
        align-items: center;
        display:flex;
        flex-direction: column-reverse;
    }
    .download-btn{
        height:60px;
        margin-top:20px;
    }
    .images{
        width:100%;
    }
    .images img{
        width:20%;
        height:fit-content
    }
    .images img:nth-child(2){
        width:35%;
        height: fit-content;
    }
    .section2{
        top:1000px;
    }
    .sec2-box{
        width:95%;
    }
    .section3{
        top:3050px;
        margin-top:100px;
    }
    .section4{
        top:4450px;
    }
    .section5{
        top:5700px;
    }
    .slider__btn {
        width:40px;
        height:40px;
        font-size:19px;
    }
    .section6{
        top:6100px;
    }
    .personal-info{
        flex-direction: column;
        align-items: center;
    }
    .personal-info img{
        width:200px;
        height:auto;
    }
    .stars{
        height:30px;
        margin-top:20px;
    }
    .stars img{
        width:auto;
    }
    .personal-about{
        margin-left:0;
    }
    .personal-about h4{
        font-size:20px;
        margin-top:5px;
    }
    .personal-about h5{
        margin-top:5px;
        font-size:14px;
    }
    .footer-form{
        top:7000px;
        flex-direction: column;
        align-items: center;
        height:400px;
    }
    .footer-text{
        width:90%;
        text-align: center;
    }
    .footer-text h2,
    .footer-text p{
        width:100%;
        margin-left:0;
    }
    form input{
        margin-left:0;
        margin-bottom:200px;
        width:70%;
    }
    form button{
        width:200px;
        margin-left:0;
        background-color: rgba(255, 255, 255, 0.5);
        margin-top:150px;
        z-index:3;
        margin-bottom:30px;
        bottom:0;
    }
}
@media(max-width:511px){
    .section1-child h1{
        margin-top:80px;
    }
    .section3{
        top:3150px;
    }
}
@media(max-width:389px){

}
